<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

 
  
<servlet>  
<servlet-name>Search</servlet-name>  
<servlet-class>yuvavimal.addservlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Search</servlet-name>  
<url-pattern>/add</url-pattern>  
</servlet-mapping>  
    
<servlet>  
<servlet-name>Stud</servlet-name>  
<servlet-class>student.serv</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Stud</servlet-name>  
<url-pattern>/server</url-pattern>  
</servlet-mapping>  
  
  


  
  
  
</web-app>